- record.bookmarks.each do |bookmark|
  - bookmark_title = bookmark.url.split('.')[1]
  .col-md-3.bookmark-loop
    .bookmark-box
      = link_to "#{bookmark.url}" do
        %h4
          = bookmark_title
      = embed(bookmark.url)[:description].truncate(90)
      - if policy(Like.new).create?
        = render partial: 'likes/like', locals: { bookmark: bookmark }
      - if policy(bookmark).edit?
        .small
          = link_to "Edit Bookmark", edit_topic_bookmark_path(bookmark.topic, bookmark)
        .small
          = link_to "Delete Bookmark", [bookmark.topic, bookmark], method: :delete
